{% extends "base_admin.html" %}
{% block title %}Modifier Salle{% endblock %}

{% block content %}
<div class="d-flex align-items-center justify-content-between mb-3">
  <h3 class="mb-0">Modifier Salle</h3>
  <a class="btn btn-light" href="{% url 'gestion:salle_list' %}">← Retour</a>
</div>

<div class="card">
  <div class="card-body">
    <form method="post">
      {% csrf_token %}
      <div class="row g-3">
        <div class="col-md-8">
          <label class="form-label">Nom de la salle</label>
          <input class="form-control" name="nom_salle" value="{{ salle.nom_salle }}" required>
        </div>

        <div class="col-12">
          <button class="btn btn-primary">Enregistrer</button>
          <a class="btn btn-outline-secondary" href="{% url 'gestion:salle_list' %}">Annuler</a>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
